:root {
  --main-bg-color: rgb(247, 251, 252);
  --heading-bg-color:rgb(20, 66, 114); 
  --heading-txt-color: rgb(214, 230, 242);
  --nav-bg-color:rgb(149, 180, 215);
  --nav-txt-color:rgb(56, 102, 151);
  --resource-bg-color:rgb(214, 230, 242);
  --resource-txt-color:rgb(20, 66, 114);
}

.App {
  text-align: center;
}

body {
  background-color:var(--main-bg-color);
}

a {
  text-decoration: none;
}

h1, h2 {
  background-color: var(--heading-bg-color);
  color: var(--heading-txt-color);
  padding: 0.1em;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  margin: 0;
  border: 1px solid var(--main-bg-color);
  
  border-radius: 0.5em;
}



.nav-bar {

}

.nav-bar ul {
  width: 50%;
  margin: auto;
}

.nav-bar li {
  color: var(--nav-txt-color);
  background-color:var(var(--nav-bg-color));
  padding: 0.25em;
  margin: 0.1em;
}

.nav-bar a:hover {
  font-weight: bolder;
}

.resource li {
  border: 2px black solid;
  padding: 1em;
  margin: 1em auto;
  width: 75%;
  color: var(--resource-txt-color);
  background-color:var(--resource-bg-color);
  box-shadow: 0.1em 0.1em black;
}

.resource li strong {
  font-size: 1.2em;
}

.resource li:hover {
  box-shadow: 0.05em 0.05em grey;
}