:root {
  --main-bg-color: rgb(233, 232, 232);
  --heading-bg-color:#eb7558; 
  --heading-txt-color: #f8fffa;
  --nav-bg-color:#52796F;
  --nav-sel-color: #5ead92;
  --nav-txt-color:#EFF1F3;
  --resource-bg-color:#eff3f0;
  --resource-txt-color:#103939;
  --resource-bor-color: #5ead92;
}

.App {
  text-align: center;
}

body {
  background-color:var(--main-bg-color);
}

a {
  text-decoration: none;
}

h1, h2 {
  background-color: var(--heading-bg-color);
  color: var(--heading-txt-color);
  padding: 0.1em;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  margin: 0;
  border: 1px solid var(--main-bg-color);
  
  border-radius: 0.5em;
}

.nav-bar ul {
  width: 50%;
  margin: auto;
}

.nav-bar li {
  color: var(--nav-txt-color);
  background-color:var(--nav-bg-color);
  padding: 0.25em;
  margin: 0.1em;
}

.nav-bar a:hover {
  font-weight: bolder;
}

.selected li {
  background-color: var(--nav-sel-color);
}

.resource li {
  border: 2px solid var(--resource-bor-color);
  padding: 1em;
  margin: 1em auto;
  width: 75%;
  color: var(--resource-txt-color);
  background-color:var(--resource-bg-color);
  box-shadow: 0.1em 0.1em var(--resource-bor-color);
}

.resource li strong {
  font-size: 1.2em;
}

.resource li:hover {
  box-shadow: 0.05em 0.05em grey;
}